/* You can add global styles to this file, and also import other style files */
body {
  background-color: #1f1f1f;
  color: aliceblue;
}

.card-container {
  max-width: 90vw;
}

.card {
  border: 1px solid white;
  border-radius: 8px;
  padding: 5px
}